.container_headers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header1{
    font-size: 40px;
}

.header2{
    font-size: 30px;
}

