.menu_container {
    background-color: #4D4D4D;
    height: 100vh;
    width: 70px;
    transition: width 0.2s;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    position: absolute;

    display: flex;
flex-direction: column;
}

.menu_container:hover {
    width: 300px;
}

.icon {
    overflow: hidden;
    height: 70px;
    background-color: #414141;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    font-size: 40px;
    color: white;
    white-space: nowrap;
    transition: opacity 1s ease-out;
    box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.25);
}

.menu_links_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.home_icon {
    width: 40px;
    height: 40px;
    filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(33deg) brightness(104%) contrast(107%);
}

.home_icon_active {
    width: 40px;
    height: 40px;
    filter: invert(59%) sepia(70%) saturate(1168%) hue-rotate(1deg) brightness(105%) contrast(103%);
}

.menu_link {
    cursor: pointer;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-left: 10px;
}

.menu_link:hover {
    background: #414141;
}

.menu_link p {
    margin-left: 20px;
    vertical-align: middle;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    white-space: nowrap;
    color: white;
}

@media only screen and (max-width: 600px) {
    .menu_container {
        height: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
        z-index: 2;
        position: absolute;
        align-items: flex-start;
    }
    .menu_container:hover {
        width: 100%;
    }
    .menu_links_container {
        height: 0vh;
        background-color: #4D4D4D;
        width: 100%;
        transition: height  0.5s ease;
    }
    .menu_link {
        cursor: pointer;
        display: flex;
        overflow: hidden;
        align-items: center;
        padding-left: 10px;
    }
    .icon {
        margin: unset;
        display: inline-block;
        background-color: #414141;
        color: white;
        width: 70px;
        box-shadow: unset;
    }
    .icon_container {
        width: 100%;
        background-color: #4D4D4D;
        justify-content: space-around;
    }
    .menu_icon{
        float:right;
        position: relative;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 3px;
        background-color: #FFF;
        margin: 6px 0;
        transition: 0.2s;
      }
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
        transform: rotate(-45deg) translate(-6px, 6px) ;
      }
      
      /* Fade out the second bar */
      .change .bar2 {
        opacity: 0;
      }
      
      /* Rotate last bar */
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-7px, -8px) ;
        transform: rotate(45deg) translate(-7px, -8px) ;
      }
}